<section class="wrapper style1 align-center">
	<div class="inner">
		<header>
			<h2>Contact Me</h2>
		</header>
		<p>If you would like to contact me, please fill out this form or you can contact me directly at <u>contact-me@greenrangeproducts.com</u>
		<div class="content">
			<form id="contactForm" name="contact" method="post" data-netlify="true">
				<div class="fields">
					<div class="field half">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" value="" />
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" value="" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6"></textarea>
					</div>
					<div class="field">
						<input type="checkbox" id="checkbox" name="checkbox" />
						<label for="checkbox">I am a human and not a robot</label>
					</div>
				</div>
				<ul class="actions">
					<li><input type="button" name="submit" id="submit" onClick="handleSubmit()" value="Send Message" /></li>
				</ul>
			</form>
		</div>
	</div>
</section>