<section class="wrapper style1 align-center">
	<div class="inner">
		<header>
			<h2>Contact Me</h2>
		</header>
		<p>If you would like to contact me, please fill out this form or you can contact me directly at <u>contact-me@greenrangeproducts.com</u>
		<div id="formSubmitSuccess" class="hidden">
			<p>Your request was submitted successfully!</p>
		</div>
		<div class="content">
			<form id="contactForm" name="contact" method="post" data-netlify="true" netlify-honeypot="bot-field">
				<div class="fields">
					<p class="hidden">
						<label>
						  Don’t fill this out if you’re human: <input name="bot-field" />
						</label>
					</p>
					<div class="field half">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" value="" />
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" value="" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6"></textarea>
					</div>
				</div>
				<input type="button" name="submit" id="submit" onClick="handleSubmit()" value="Send Message" /></li>
			</form>
		</div>
		<div id="contactRequestInfo" class="hidden">
			<p>Your contact request was submitted! I will be in touch with you soon.</p>
	</div>
</section>